@import url("reset.css");

body {
  background-image: url("../../images/bg-body.jpg");
  background-color: #f5f5f5;
}

h1, h2, h3, h4 {
  font-weight: bold;
}

#main {
  background-color: white;
  background-color: rbga(255, 255, 255, 0.6);
}
